:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(177, 168, 168);
  background-color: #292525;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.5;
}

p {
  font-size: 1.2em;
  line-height: 1.2;
}

button {
  margin-right: 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a48598;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
}
button:hover {
  border-color: #d8d4d8;
}
button:focus,
button:focus-visible {
  outline: none;
  border-color: #d8d4d8;
  box-shadow: 0 0 8px rgba(216, 212, 216, 0.8);
}
